body{
  margin:0;
  padding:0;
  background: #191A1B;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

#root{
  display: flex;
  flex-flow: column;
}

.disabled{
  display: none !important; //to remove arrow in scroller
}

.default{
  font-size: 1.5rem;
  color: black;
}

.no-dec{
  text-decoration: none;
  color:inherit;
}

.tc{
  text-align: center;
}

.wfont{
  color:white
}

.full-width{
  width: 100%;
}

.full-height{
  height:100%;
}



.fbold{
  font-weight: bold;
}

.flight{
  font-weight: lighter;
}

