
.cg{
    color: lightgrey;
}

/////////////====================== font =====================/////////////////////

.f-lg{
    font-size:35px;
}

.f-ty{
    font-size: 10px;
}

.f-sm{
    font-size: 16px;
}

.f-md{
    font-size: 20px;
}


.link-font{
  font-family: monospace;
}


.ttl-heavy{
  font-weight: bolder;
}


///////////======================== border ==========================//////////////////

.ttl-b-bdr{
    border-bottom: 1px solid dimgrey;
}



/////////======================== padding ===========================/////////////////

.pl{
    padding-left: 0.3rem;
}

.pb{
    padding-bottom: 0.3rem;
}


////////////================== margin ==============================/////////////////

.ml{
  margin-left: 1.3rem;
}

.mb{
  margin-bottom: 1.3rem;
}

.mt{
  margin-top: 1.3rem;
}

.mr{
  margin-right: 1.3rem;
}

.mt2{
  margin-top: 2rem !important;
}

.mb2{
  margin-bottom: 2rem !important;
}

////////============================= specific styles=================================/////
.abt-stls{
  width: 95%;
  margin: auto;
}

.cntc-row{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.skill-row{
  display: flex;
  justify-content: space-evenly;
}

//.tag-cloud{
//  width: 30%;
//}

.LI-profile-badge{
  align-self: center;
  @extend .mb2
}

.topic-content{
  width: 30%;
}

.skill-label{
  color: white;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  text-align: center;

}

@keyframes blinker {
  50% { opacity: 0.1; }
}