
.cr{
    color: green;
}

/////////////====================== font =====================/////////////////////

.f-lg{
    font-size:35px;
}

.f-ty{
    font-size: 10px;
}

.f-sm{
    font-size: 12px;
}

.f-md{
    font-size: 20px;
}



.ttl-heavy{
  font-weight: bolder;
}


///////////======================== border ==========================//////////////////

.ttl-b-bdr{
    border-bottom: 1px solid;
}



/////////======================== padding ===========================/////////////////

.pl{
    padding-left: 0.3rem;
}

.pb{
    padding-bottom: 0.3rem;
}


////////////================== margin ==============================/////////////////

.ml{
  margin-left: 1.3rem;
}

.mb{
  margin-bottom: 1.3rem;
}

.mt{
  margin-top: 1.3rem;
}

.mr{
  margin-right: 1.3rem;
}

.mt2{
  margin-top: 2rem;
}

.mb2{
  margin-bottom: 2rem;
}