.slider{
  height: 40rem;

  .scroller-tile{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .scroller-text{
    position: absolute;
    //align-self: flex-start; //remove this for under-dev status only
    top:10%;
    left:15%;
    width:40%;
    .scoller-header{
      font-size: 4.5rem;
    }
    .scoller-dtls{
      font-size: 1.8rem;
    }
  }

}