.slider{
  height: 40rem;

  .scroller-tile{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .scroller-text{
    position: absolute;
    //align-self: flex-start; //remove this for under-dev status only
    top:0%;
    left:0%;
    width:60%;
    background-image: linear-gradient(to right,  #19191a, #19191a87, #ffffff00);
    height: 100%;

    .scoller-header{
      font-size: 4.5rem;
      -moz-margin-start: 6%;
    }
    .scoller-dtls{
      font-size: 1.8rem;
      position: absolute;
      top: 38%;
      left: 9%;
      width: 67%;
      margin: 0;
      color: white;
    }
    .social-icns{
      @extend .scoller-dtls;
      display: flex;
      top: 60%;
      width: 3rem;
      height: 3rem;

      .icon-fb{
        width: 105%;
        height: 105%;
        fill:white;
        &:hover{
          fill: #4267b2;
        }
      }
    }
  }
  @media all and (max-width: 1487px) {
    .scoller-header{
      margin-left: 6%;
    }

  }
  @media all and (max-width: 1100px) {
    .scroller-text{
      .social-icns {
        top: 75%;
      }
    }

  }

}


