.dark-bcg{
  //background-color: #138cc9;
  background-image: linear-gradient(#19191a, #138cc9, #138cc9, #19191a);

  .vertical-timeline-element-icon{
    display: flex;
    justify-content: space-evenly;
  }

  .vertical-timeline-element-date {
     color: white;
     font-weight: bold;
   }

  .icon{
    //display: flex;
    //align-self: center;

    position: initial;
    margin: auto;
    width: 2.4rem;
    height: 2.4rem;

    stroke-width: 0.3rem;
  }
}

.vertical-timeline::before{
  background-image: linear-gradient(#19191a, white, white, white,#19191a);
}

.vertical-timeline{
  margin-top: 0px;
  margin-bottom: 0px;
}


