.timeline-card{
  display:flex;
  flex-flow: column;
  background-color: white;

  .tags{
    display: flex;
    flex-flow: wrap;

    .tag{
      background-color: #ececec;
      padding: 3px 6px;
      //font-weight: normal;
      border-radius: 0.7rem;
      border: 1px solid grey;
      min-width: 2rem;
      text-align: center;
      margin: 2px;
      margin-bottom: 0px;
      height: 100%;
    }
  }

  .title{
    margin: 0.7rem 0.4rem;
  }

  .text{
    margin: 0.4rem;
    margin-top: 0;
  }

  .links{
    display: flex;
    justify-content: flex-end;

    .link{
      cursor: pointer;
      text-decoration: none;
      background-color: lightgrey;
      padding: 0.4rem;
      font-weight: bold;
      border-radius: 0.3rem;
      min-width: 2rem;
      text-align: center;
      margin: 2px;
      margin-bottom: 0px;
      font-size: 1rem;
      color: #4e7082;

      &:active{
        background-color: grey;
        color: white;
      }
    }
  }
}
